# --- R/RStudio internals ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# --- R package development ---
*.tar.gz
*.Rcheck/
inst/doc/
doc/
src/*.o
src/*.so
src/*.dll

# --- IDEs and Text Editors ---
.DS_Store
.quarto/
.positai/

# --- Project specific / Data & Outputs ---
docs/
pkg/
benchmarks/
ia_asistant/

# --- Agents & Environment ---
.agents
.httr-oauth
